body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.graphD3 {
  overflow: visible;
}
.graphD3 path {
  transition: all 0.25s;
  cursor: pointer;
}
.graphD3 path:hover {
  opacity: 0.9;
}
.graphD3 path.active {
  fill: #ff9800 !important;
  transform: scale(1.02);
}
